    <!-- jQuery -->
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script type="text/javascript" src="/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <!--
    <script type="text/javascript" src="/vendor/raphael/raphael.min.js"></script>
    <script type="text/javascript" src="/vendor/morrisjs/morris.min.js"></script>
    <script type="text/javascript" src="/data/morris-data.js"></script>
    -->

    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src="/dist/js/sb-admin-2.js"></script>

</body>

</html>