<div class="portfolio4 spacer up">
        <div class="container">
            <!-- Tittle and filter  -->
            <div class="d-flex align-items-center">
                <div class="">
                    <h3 class="font-medium">Others</h3>
                </div>
                <div class="ml-auto filterby">
                    <a href="JavaScript:void(0)" class="active" data-filter="*">All</a>
                    <a href="JavaScript:void(0)" data-filter=".books">Books</a>
                    <a href="JavaScript:void(0)" data-filter=".magazines">Magazines</a>
                    <a href="JavaScript:void(0)" data-filter=".posters">Posters</a>
                    <a href="JavaScript:void(0)" data-filter=".print">Print</a>
                </div>
            </div>
            <!-- End Tittle and filter  -->
            <!-- Card Columns -->
            <div class="row portfolio-box4">

                <!-- Columns -->
                <div class="col-lg-4 col-md-6 filter books print">
                    <div class="overlay-box">
                        <img src="https://fakeimg.pl/350x260/" alt="wrpkit" class="img-fluid">
                        <a href="javascript:void(0)" class="overlay">
                            <div class="port-text">
                                <h5>Product 1</h5>
                                <span>books, Print</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Columns -->

                <!-- Columns -->
                <div class="col-lg-4 col-md-6 filter magazines">
                    <div class="overlay-box">
                        <img src="https://fakeimg.pl/350x400/" alt="wrpkit" class="img-fluid">
                        <a href="javascript:void(0)" class="overlay">
                            <div class="port-text">
                                <h5>Product 2</h5>
                                <span>magazines</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Columns -->
                <!-- Columns -->
                <div class="col-lg-4 col-md-6 filter books">
                    <div class="overlay-box">
                        <img src="https://fakeimg.pl/350x340/" alt="wrpkit" class="img-fluid">
                        <a href="javascript:void(0)" class="overlay">
                            <div class="port-text">
                                <h5>Product 3</h5>
                                <span>books</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Columns -->
                <!-- Columns -->
                <div class="col-lg-4 col-md-6 filter posters print">
                    <div class="overlay-box">
                        <img src="https://fakeimg.pl/350x270/" alt="wrpkit" class="img-fluid">
                        <a href="javascript:void(0)" class="overlay">
                            <div class="port-text">
                                <h5>Product 4</h5>
                                <span>posters, print</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Columns -->
                <!-- Columns -->
                <div class="col-lg-4 col-md-6 filter posters">
                    <div class="overlay-box">
                        <img src="https://fakeimg.pl/350x340/" alt="wrpkit" class="img-fluid">
                        <a href="javascript:void(0)" class="overlay">
                            <div class="port-text">
                                <h5>Product 5</h5>
                                <span>posters</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Columns -->
                <!-- Columns -->
                <div class="col-lg-4 col-md-6 filter books print">
                    <div class="overlay-box">
                        <img src="https://fakeimg.pl/350x400/" alt="wrpkit" class="img-fluid">
                        <a href="javascript:void(0)" class="overlay">
                            <div class="port-text">
                                <h5>Product 6</h5>
                                <span>books, print</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Columns -->
                <!-- Columns -->
                <div class="col-lg-4 col-md-6 filter books print">
                    <div class="overlay-box">
                        <img src="https://fakeimg.pl/350x300/" alt="wrpkit" class="img-fluid">
                        <a href="javascript:void(0)" class="overlay">
                            <div class="port-text">
                                <h5>Product 7</h5>
                                <span>books, print</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Columns -->
                <!-- Columns -->
                <div class="col-lg-4 col-md-6 filter magazines posters">
                    <div class="overlay-box">
                        <img src="https://fakeimg.pl/350x200/" alt="wrpkit" class="img-fluid">
                        <a href="javascript:void(0)" class="overlay">
                            <div class="port-text">
                                <h5>Product 8</h5>
                                <span>magazines, posters</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Columns -->
                <!-- Columns -->
                <div class="col-lg-4 col-md-6 filter books">
                    <div class="overlay-box">
                        <img src="https://fakeimg.pl/350x260/" alt="wrpkit" class="img-fluid">
                        <a href="javascript:void(0)" class="overlay">
                            <div class="port-text">
                                <h5>Product 9</h5>
                                <span>books</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Columns -->
                <!-- Columns -->
                <div class="col-lg-4 col-md-6 filter posters print">
                    <div class="overlay-box">
                        <img src="https://fakeimg.pl/350x130/" alt="wrpkit" class="img-fluid">
                        <a href="javascript:void(0)" class="overlay">
                            <div class="port-text">
                                <h5>Product 10</h5>
                                <span>posters, Print</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Columns -->
                <!-- Columns -->
                <div class="col-lg-4 col-md-6 filter posters">
                    <div class="overlay-box">
                        <img src="https://fakeimg.pl/350x150/" alt="wrpkit" class="img-fluid">
                        <a href="javascript:void(0)" class="overlay">
                            <div class="port-text">
                                <h5>Product 11</h5>
                                <span>posters</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Columns -->
                <!-- Columns -->
                <div class="col-lg-4 col-md-6 filter books print">
                    <div class="overlay-box">
                        <img src="https://fakeimg.pl/350x300/" alt="wrpkit" class="img-fluid">
                        <a href="javascript:void(0)" class="overlay">
                            <div class="port-text">
                                <h5>Product 12</h5>
                                <span>books, print</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Columns -->
            </div>
            <!-- End Card Columns -->
            <!-- portfolio start -->
        </div>
    </div>