<%- include('../includes/site/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/errors.css">
</head>

<body>

    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Container fluid -->
        <div class="container-fluid">

            <div id="errorfound">
                <div class="errorfound">
                    <div class="errorfound-pages">
                        <h1 class="text-danger">500</h1>
                    </div>
                    <h2>Internal server error</h2>
                    <p>Congratulations, you broke the site so really thanks for that!
                        <a href="/">
                            Return to homepage
                        </a>
                    </p>
                </div>
            </div>

        </div>

    </div>

    <%- include('../includes/site/end.ejs') %>