<%- include('../includes/shop/sh_head.ejs') %>
</head>

<body>
    <div class="container-fluid">
        <%- include('../includes/shop/sh_nav.ejs') %>

        <div id="page-wrapper">



        </div>

    </div>

    <%- include('../includes/shop/sh_end.ejs') %>