<%- include('../includes/shop/sh_head.ejs') %>
</head>

<body>
    <div class="container-fluid">
        <%- include('../includes/shop/sh_nav.ejs') %>

        <div id="page-wrapper">

            <main>
                <h1>Nothing there!</h1>
            </main>

        </div>

    </div>

    <%- include('../includes/shop/sh_end.ejs') %>