extends layouts/shared.pug

block content
    div.page-wrap.d-flex.flex-row.align-items-center
        div.container
            div.row.justify-content-center
                div.col-md-12.text-center
                    span.display-1.d-block 404
                    div.mb-4.lead The page you are looking for was not found.
                    a.btn.btn-link(href="http://localhost:3000/") Back to Home