<script type="text/javascript" src="/js/jquery.min.js"></script>

<!-- Bootstrap popper Core JavaScript -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<!-- This is for the animation -->
<script type="text/javascript" src="/js/aos.js"></script>
<script type="text/javascript" src="/js/perfect-scrollbar.jquery.min.js"></script>
<script type="text/javascript" src="/js/prism/prism.js"></script>

<!--Custom JavaScript -->
<script type="text/javascript" src="/js/custom.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<script type="text/javascript" src="/js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-touch-slider.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>

</body>

</html>