<!-- Plugins -->
<script type="text/javascript" src="/plugins/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/plugins/popper/dist/popper.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-touch-slider/bootstrap-touch-slider.js"></script>
<script type="text/javascript" src="/plugins/aos/dist/aos.js"></script>
<script type="text/javascript" src="/plugins/prism/prism.js"></script>
<script type="text/javascript" src="/plugins/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>

<!--Custom JavaScript -->
<script type="text/javascript" src="/js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="/js/custom.min.js"></script>

</body>

</html>