<div class="portfolio4 spacer up">
    <div class="container">
        <!-- Tittle and filter  -->
        <div class="d-flex align-items-center">
            <div class="">
                <h3 class="font-medium">Latest Works</h3>
            </div>
            <div class="ml-auto filterby">
                <a href="JavaScript:void(0)" class="active" data-filter="*">All</a>
                <a href="JavaScript:void(0)" data-filter=".abstract">Abstract</a>
                <a href="JavaScript:void(0)" data-filter=".typography">Typography</a>
                <a href="JavaScript:void(0)" data-filter=".branding">Branding</a>
                <a href="JavaScript:void(0)" data-filter=".print">Print</a>
            </div>
        </div>
        <!-- End Tittle and filter  -->
        <!-- Card Columns -->
        <div class="row portfolio-box4">
            
            <!-- Columns -->
            <div class="col-lg-4 col-md-6 filter abstract print">
                <div class="overlay-box">
                    <img src="/images/portfolio/portfolio-mesonry/img1.jpg" alt="wrpkit" class="img-fluid">
                    <a href="javascript:void(0)" class="overlay">
                        <div class="port-text">
                            <h5>Project title</h5>
                            <span>Abstract, Print</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Columns -->

            <!-- Columns -->
            <div class="col-lg-4 col-md-6 filter typography">
                <div class="overlay-box">
                    <img src="/images/portfolio/portfolio-mesonry/img2.jpg" alt="wrpkit" class="img-fluid">
                    <a href="javascript:void(0)" class="overlay">
                        <div class="port-text">
                            <h5>Project title</h5>
                            <span>Abstract, Print</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Columns -->
            <!-- Columns -->
            <div class="col-lg-4 col-md-6 filter abstract">
                <div class="overlay-box">
                    <img src="/images/portfolio/portfolio-mesonry/img3.jpg" alt="wrpkit" class="img-fluid">
                    <a href="javascript:void(0)" class="overlay">
                        <div class="port-text">
                            <h5>Project title</h5>
                            <span>Abstract, Print</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Columns -->
            <!-- Columns -->
            <div class="col-lg-4 col-md-6 filter branding print">
                <div class="overlay-box">
                    <img src="/images/portfolio/portfolio-mesonry/img4.jpg" alt="wrpkit" class="img-fluid">
                    <a href="javascript:void(0)" class="overlay">
                        <div class="port-text">
                            <h5>Project title</h5>
                            <span>Abstract, Print</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Columns -->
            <!-- Columns -->
            <div class="col-lg-4 col-md-6 filter branding">
                <div class="overlay-box">
                    <img src="/images/portfolio/portfolio-mesonry/img5.jpg" alt="wrpkit" class="img-fluid">
                    <a href="javascript:void(0)" class="overlay">
                        <div class="port-text">
                            <h5>Project title</h5>
                            <span>Abstract, Print</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Columns -->
            <!-- Columns -->
            <div class="col-lg-4 col-md-6 filter abstract print">
                <div class="overlay-box">
                    <img src="/images/portfolio/portfolio-mesonry/img6.jpg" alt="wrpkit" class="img-fluid">
                    <a href="javascript:void(0)" class="overlay">
                        <div class="port-text">
                            <h5>Project title</h5>
                            <span>Abstract, Print</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Columns -->
            <!-- Columns -->
            <div class="col-lg-4 col-md-6 filter abstract print">
                <div class="overlay-box">
                    <img src="/images/portfolio/portfolio-mesonry/img1.jpg" alt="wrpkit" class="img-fluid">
                    <a href="javascript:void(0)" class="overlay">
                        <div class="port-text">
                            <h5>Project title</h5>
                            <span>Abstract, Print</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Columns -->
            <!-- Columns -->
            <div class="col-lg-4 col-md-6 filter typography branding">
                <div class="overlay-box">
                    <img src="/images/portfolio/portfolio-mesonry/img2.jpg" alt="wrpkit" class="img-fluid">
                    <a href="javascript:void(0)" class="overlay">
                        <div class="port-text">
                            <h5>Project title</h5>
                            <span>Abstract, Print</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Columns -->
            <!-- Columns -->
            <div class="col-lg-4 col-md-6 filter abstract">
                <div class="overlay-box">
                    <img src="/images/portfolio/portfolio-mesonry/img3.jpg" alt="wrpkit" class="img-fluid">
                    <a href="javascript:void(0)" class="overlay">
                        <div class="port-text">
                            <h5>Project title</h5>
                            <span>Abstract, Print</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Columns -->
            <!-- Columns -->
            <div class="col-lg-4 col-md-6 filter branding print">
                <div class="overlay-box">
                    <img src="/images/portfolio/portfolio-mesonry/img4.jpg" alt="wrpkit" class="img-fluid">
                    <a href="javascript:void(0)" class="overlay">
                        <div class="port-text">
                            <h5>Project title</h5>
                            <span>Abstract, Print</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Columns -->
            <!-- Columns -->
            <div class="col-lg-4 col-md-6 filter branding">
                <div class="overlay-box">
                    <img src="/images/portfolio/portfolio-mesonry/img5.jpg" alt="wrpkit" class="img-fluid">
                    <a href="javascript:void(0)" class="overlay">
                        <div class="port-text">
                            <h5>Project title</h5>
                            <span>Abstract, Print</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Columns -->
            <!-- Columns -->
            <div class="col-lg-4 col-md-6 filter abstract print">
                <div class="overlay-box">
                    <img src="/images/portfolio/portfolio-mesonry/img6.jpg" alt="wrpkit" class="img-fluid">
                    <a href="javascript:void(0)" class="overlay">
                        <div class="port-text">
                            <h5>Project title</h5>
                            <span>Abstract, Print</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Columns -->
        </div>
        <!-- End Card Columns -->
        <!-- portfolio start -->
    </div>
</div>